<ion-content class="ion-padding">
  <h2>Cart items</h2>
  <p>
    <a routerLink="/shipping">Shipping Prices</a>
  </p>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-label>{{ item.name }}</ion-label>
      {{ item.price | currency }}
    </ion-item>
  </ion-list>
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input id="name" type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-input id="address" type="text" formControlName="address"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button class="button" type="submit">Purchase</ion-button>
  </form>
</ion-content>
